

#topo {
    background: rgb(56, 56, 180);
    height: 40vh;
}

h2, h1{
    text-align: center;
    color: rgba(219, 219, 219, 0.582);
}
#topo > div{
    margin: auto;
    height: 200px;
    width: 200px;
    background-color: rgb(66, 66, 175);
    border-radius: 100%;
    box-shadow: inset 1px 1px 15px;
}
div > p{
    text-align: center;
}